<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderProcessingQueueing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrderProcessingQueueing.My.MySettings.MAIN_WHSE_2015_DB_21NOV2019ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MAIN_WHSE_2015_DB_21NOV2019;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="OrderProcessingQueueing.My.MySettings.QUEUEING_DBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=QUEUEING_DB;Persist Security Info=True;User ID=sa;Password=admin1234"
            providerName="System.Data.SqlClient" />
        <add name="OrderProcessingQueueing.My.MySettings.QUEUEING_DBConnectionString1"
            connectionString="Data Source=192.168.5.116;Initial Catalog=QUEUEING_DB;Persist Security Info=True;User ID=sa;Password=admin1234"
            providerName="System.Data.SqlClient" />
        <add name="OrderProcessingQueueing.My.MySettings.GSC_STORE_DBConnectionString"
            connectionString="Data Source=172.16.4.50;Initial Catalog=GSC_STORE_DB;Persist Security Info=True;User ID=sa;Password=rms@starbright24680"
            providerName="System.Data.SqlClient" />
        <add name="OrderProcessingQueueing.My.MySettings.GSC_STORE_DBConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=GSC_STORE_DB;Persist Security Info=True;User ID=sa;Password=admin1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <OrderProcessingQueueing.My.MySettings>
            <setting name="PickLoc" serializeAs="String">
                <value>UP-STORE</value>
            </setting>
            <setting name="ReleaseType" serializeAs="String">
                <value>Delivery</value>
            </setting>
        </OrderProcessingQueueing.My.MySettings>
    </userSettings>
</configuration>