<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkOrderEntry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WorkOrderEntry.My.MySettings.GSC_STORE_DBConnectionString"
            connectionString="Data Source=172.16.4.50;Initial Catalog=GSC_STORE_DB;Persist Security Info=True;User ID=sa;"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DVO_STORE_DB;Persist Security Info=True;User ID=sa;Password=admin1234;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=DVO_STORE_DB;Persist Security Info=True;User ID=sa;Password=admin1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString2"
            connectionString="Data Source=SPU-PROGRAMMER;Initial Catalog=DVO_STORE_DB;User ID=sa;Password=admin1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString3"
            connectionString="Data Source=localhost;Initial Catalog=DVO_STORE_DB;User ID=sa;Password=admin1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString4"
            connectionString="Data Source=LAPTOP-FSD465OI;Initial Catalog=DVO_STORE_DB;User ID=sa;Password=admin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString5"
            connectionString="Data Source=MSI;Initial Catalog=DVO_STORE_DB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkOrderEntry.My.MySettings.DVO_STORE_DBConnectionString6"
            connectionString="Data Source=localhost;Initial Catalog=DVO_STORE_DB;Persist Security Info=True;User ID=sa;Password=admin123;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
<userSettings>
        <WorkOrderEntry.My.MySettings>
                <setting name="MySQL_user" serializeAs="String">
                        <value>aviorcom_testRemote2</value>
                </setting>
                <setting name="MySQL_pass" serializeAs="String">
                        <value>123$P@SSW0RD</value>
                </setting>
                <setting name="MySQL_svr" serializeAs="String">
                        <value>162.214.108.202</value>
                </setting>
                <setting name="MySQL_db" serializeAs="String">
                        <value>aviorcom_sodcommerce</value>
                </setting>
                <setting name="MySQL_port" serializeAs="String">
                        <value>3306</value>
                </setting>
                <setting name="ImportDefaultCust" serializeAs="String">
                        <value>ECOMMERCE</value>
                </setting>
                <setting name="ImportDefaultRep" serializeAs="String">
                        <value>11</value>
                </setting>
                <setting name="ImportDefaultShipping" serializeAs="String">
                        <value>E-SHIPPING</value>
                </setting>
        </WorkOrderEntry.My.MySettings>
    </userSettings>
</configuration>
