USE [QUEUEING_DB]
GO
/****** Object:  Trigger [dbo].[trg_Transaction_closeQueue]    Script Date: 12/1/2020 11:20:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER TRIGGER [dbo].[trg_Transaction_closeQueue]
   ON [dbo].[Transaction]
   AFTER INSERT
AS BEGIN
    SET NOCOUNT ON;    

	
	declare @exist integer
	declare @recallid integer
	
	set @recallid = (select RecallID from inserted)
	set @exist = (select count(*) from Queueing q where q.OrderID = @recallid )

	if @exist > 0
	begin
	 update Queueing set Status = 1 where OrderID = @recallid
	end

END

